.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dialog {
  position: relative;
  padding: 16px 24px;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: scroll;
  height: 500px;
}
.memos-repo-container {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10vh;

  .memo-box {
    cursor: pointer;

    margin-bottom: 32px;
    padding: 16px;
    background-color: #fff;
    // background-color: $fpshade50;
    border-radius: 10px;
    color: #515979;
    box-shadow: rgba(162, 177, 242, 0.3) 0px 0px 0px 1px,
      rgba(162, 177, 242, 0.3) 0px 2px 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .buttons {
      padding-top: 29px;

      button {
        max-height: 70px;
        margin-right: 50px;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
